/**
 * Front page styles
 * ===================================================================
 * 1. intro section
 * -------------------------------------------------------------------
 */
#intro {
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  width: 100%;
  height: 90%;
  min-height: 640px;
  display: table;
  padding: 0;
  position: relative;
}

#intro .content {
  background: rgba(0, 0, 0, 0.5);
  top: 30%;
  width: 100%;
  vertical-align: middle;
  padding: 12rem 0;
  position: absolute;
}

#intro .content h1 {
  color: #fff;
  font-weight: bolder;
}

#intro .content h2 {
  color: #fff;
  margin-bottom: 0;
}

/**
 * responsive:
 * intro
 * -------------------------------------------------------------------
 */
@media only screen and (max-width: 1024px) {
  .intro-content {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (max-width: 768px) {
  #intro {
    min-height: 660px;
  }
}

@media only screen and (max-width: 600px) {
  #intro {
    min-height: 600px;
  }
}

@media only screen and (max-width: 400px) {
  #intro {
    min-height: 550px;
  }
}


/**
 * ===================================================================
 * 2. second section
 * -------------------------------------------------------------------
 */
section#second {
  background: #f6f8f7;
  border-bottom: 1px solid #7eced5;
  padding-bottom: 5rem;
  padding-top: 6rem;
}

/**
 * ===================================================================
 * 3. process section
 * -------------------------------------------------------------------
 */
#features {
  background: #fff;
  padding-bottom: 7rem;
}

#features .img {
  float: left;
  width: 30%;
}

#features .text {
  float: right;
  width: 70%;
}

#features .bgrid {
  padding: 0 20px;
}

#features h5 {
  font-family: Georgia, serif;
  font-weight: bold;
  text-transform: none;
  line-height: 2.6rem;
  margin-bottom: 0.4rem;
}

#features sub {
  bottom: 0;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

#features p {
  line-height: 2.6rem;
}


/**
 * ===================================================================
 * 4. portfolio section
 * -------------------------------------------------------------------
 */
#portfolio {
  background: #252124;
  padding-top: 6rem;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

#portfolio h2 {
  color: #fff;
  margin-bottom: 2rem;
}

/**
 * ===================================================================
 * 5. services
 * -------------------------------------------------------------------
 */
#services {
  padding-bottom: 5rem;
}

#services .bgrid {
  margin-bottom: 5rem;
}