@media (max-width: 1320px)
  #mainnav-menu
    a
      padding-left: 5px !important

@media (max-width: 1200px)

@media (max-width: 1135px)
  #mainnav-menu
    a
      font-size: 0.9em !important

@media (max-width: 1035px)
  #mainnav-menu
    a:last-child
      padding-right: 10px


@media (max-width: 991px)
  #mainnav-menu
    a
      padding: 1em 1.4em !important
      font-size: 1em !important

@media (max-width: 960px)

@media (max-width: 920px)

@media (max-width: 767px)
  header .logo a
    margin: 0 auto
    height: 50px
    width: 203px

  #navi-wrap
    margin-top: -2.5rem

@media (max-width: 560px)